@import "reset";
@import "mixins";
@import "variable";


#main-nav {
  background-color: $deepBlue;
  ul{
    width: 100%;
  }
  li{
    float: left;
    width: 14%;
  }
  a{
    color: $offWhite;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    &:hover{
      background-color: #333;
    }

  }//end of #main-nnav
    @include clearfix;
}
.lead-banner{
  @include banner;
  text-align: center;
}

#projects li{
  @include grid(3, 2%);
  img{
    width: 100%;
  }
}
